settings.json
.env

src
dist

*.rbxl
*.rbxl.lock
*.project.json
sourcemap.json

wally.toml
wally.lock
Packages
ServerPackages

asphalt.toml
asphalt.lock.toml
.asphalt-debug

.darklua.json

rokit.toml

stylua.toml
